@font-face {
  font-family: "iconfont"; /* Project id 3765765 */
  src: url('iconfont.woff2?t=1668172451237') format('woff2'),
       url('iconfont.woff?t=1668172451237') format('woff'),
       url('iconfont.ttf?t=1668172451237') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-shanglajiantou:before {
  content: "\e626";
}

.icon-liwu:before {
  content: "\e600";
}

.icon-xianlu:before {
  content: "\e61c";
}

.icon-round:before {
  content: "\eb74";
}

.icon-yonghu:before {
  content: "\e8c8";
}

